---
- name: Create required directories
  loop: "{{ loki_default_folders + loki_extra_folders }}"
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "10001"
    group: "10001"
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - loki

- name: Write general config
  notify:
    - Restart loki
  ansible.builtin.copy:
    content: "{{ loki_combined_config }}"
    dest: /etc/loki/config.yml
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - loki

- name: Write default config
  notify:
    - Restart loki
  ansible.builtin.template:
    src: default.j2
    dest: /etc/default/loki
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - loki

- name: Write service file
  notify:
    - Restart loki
  ansible.builtin.template:
    src: service.j2
    dest: /etc/systemd/system/loki.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - loki

- name: Pull docker image
  when:
    - loki_pull_image
  community.docker.docker_image:
    name: "{{ loki_image }}"
    source: pull
  tags:
    - loki

- name: Create docker network
  when:
    - false if loki_network is none else true
  community.docker.docker_network:
    name: '{{ loki_network }}'
  tags:
    - loki

- name: Start loki service
  ansible.builtin.systemd:
    name: loki
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - loki

- name: Include oauth2 tasks
  when:
    - loki_oauth2_enabled
  ansible.builtin.include_tasks: oauth2.yml
  tags:
    - loki
    - oauth2

...
