[Unit]
Description=OAuth2 Proxy for Prometheus

After=network.target
Wants=docker.service
After=docker.service

[Service]
Restart=always
KillMode=process

EnvironmentFile=/etc/environment
ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/loki-oauth2 \
{% if loki_oauth2_memory_limit | default(false) %}
  --memory {{ loki_oauth2_memory_limit }} \
{% endif %}
{% if loki_oauth2_memory_swap | default(false) %}
  --memory-swap {{ loki_oauth2_memory_swap }} \
{% endif %}
{% if loki_oauth2_memory_soft_limit | default(false) %}
  --memory-reservation {{ loki_oauth2_memory_soft_limit }} \
{% endif %}
{% if loki_oauth2_cpu_shares | default(false) %}
  --cpu-shares {{ loki_oauth2_cpu_shares }} \
{% endif %}
{% if loki_oauth2_number_of_cpus | default(false) %}
  --cpus {{ loki_oauth2_number_of_cpus }} \
{% endif %}
{% for item in loki_oauth2_default_labels + loki_oauth2_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if loki_oauth2_network | default(false) %}
  --network {{ loki_oauth2_network }} \
{% endif %}
{% if loki_oauth2_static_users | default(false) %}
  --volume /etc/loki/htpasswd:/etc/loki/htpasswd \
{% endif %}
{% for item in loki_oauth2_default_publish + loki_oauth2_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  {{ loki_oauth2_image }}

[Install]
WantedBy=multi-user.target
