[Unit]
Description=OAuth2 Proxy for Prometheus

After=network.target
Wants=docker.service
After=docker.service

[Service]
Restart=always
KillMode=process

EnvironmentFile=/etc/environment
ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/loki-oauth2 \
{% for item in loki_oauth2_default_labels + loki_oauth2_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if loki_oauth2_network | default(False) %}
  --network {{ loki_oauth2_network }} \
{% endif %}
{% if loki_oauth2_static_users | default(False) %}
  --volume /etc/loki/htpasswd:/etc/loki/htpasswd \
{% endif %}
{% for item in loki_oauth2_default_publish + loki_oauth2_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  {{ loki_oauth2_image }}

[Install]
WantedBy=multi-user.target
