---
auth_enabled: {{ "true" if loki_auth_enabled | default(False) else "false" }}
{% if loki_server_config | default(False) %}

server:
  {{ loki_server_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_common_config | default(False) %}

common:
  {{ loki_common_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_storage_config | default(False) %}

storage_config:
  {{ loki_storage_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_ruler_config | default(False) %}

ruler:
  {{ loki_ruler_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_schema_config | default(False) %}

schema_config:
  {{ loki_schema_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_table_manager_config | default(False) %}

table_manager:
  {{ loki_table_manager_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if loki_limits_config | default(False) %}

limits_config:
  {{ loki_limits_config | from_yaml | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}

...
