[Unit]
Description=Loki

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s

EnvironmentFile=/etc/environment
ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/loki \
{% if loki_memory_limit | default(false) %}
  --memory {{ loki_memory_limit }} \
{% endif %}
{% if loki_memory_swap | default(false) %}
  --memory-swap {{ loki_memory_swap }} \
{% endif %}
{% if loki_memory_soft_limit | default(false) %}
  --memory-reservation {{ loki_memory_soft_limit }} \
{% endif %}
{% if loki_cpu_shares | default(false) %}
  --cpu-shares {{ loki_cpu_shares }} \
{% endif %}
{% if loki_number_of_cpus | default(false) %}
  --cpus {{ loki_number_of_cpus }} \
{% endif %}
{% for item in loki_oauth2_default_labels + loki_oauth2_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if loki_network | default(false) %}
  --network {{ loki_network }} \
{% endif %}
  --volume /etc/loki/config.yml:/etc/loki/config.yml \
{% for item in loki_default_volumes + loki_extra_volumes %}
  --volume {{ item }} \
{% endfor %}
{% for item in loki_default_publish + loki_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  {{ loki_image }} \
  --config.file=/etc/loki/config.yml

[Install]
WantedBy=multi-user.target
